body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #031c40;
}

nav {
  background-color: #031c40;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 .5em;
}

nav ul li a {
  color: #a6aeb0;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #64b242;
  color: white;
  text-align: center;
  padding: 2em 0;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}



.events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.event-item {
    border: 1px solid #031c40;
    border-radius: 8px;
    padding: 1em;
    background-color: #e0e0e0;
}

.event-item img {
    max-width: 100%;
    border-radius: 8px;
}

.event-item h3 {
    margin-top: 0.5em;
}

.event-item p {
    text-align: justify;
}

.event-files {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.event-files a {
    color: #031c40;
    text-decoration: none;
    border: 1px solid #031c40;
    padding: 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.event-files a:hover {
    background-color: #031c40;
    color: #a6aeb0;
}

@media (max-width: 768px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}

footer {
  background-color: #031c40;
  color: #a6aeb0;
  text-align: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
}

footer a {
  color: #64b242;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
#big-container {
  background-color: #f5f5f5;
  padding: 2em;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}