body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #031c40;
}

nav {
  background-color: #031c40;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 .5em;
}

nav ul li a {
  color: #a6aeb0;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #64b242;
  color: white;
  text-align: center;
  padding: 2em 0;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

.resources-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.resource-item {
    border: 1px solid #031c40;
    border-radius: 8px;
    padding: 1em;
    background-color: #a6aeb0;
}

.resource-item h3 {
    margin-top: 0.5em;
}

.resource-item p {
    text-align: justify;
}

.resource-item ul {
    list-style: none;
    padding: 0;
}

.resource-item ul li {
    margin: 0.5em 0;
}

.resource-item ul li a {
    color: #031c40;
    text-decoration: none;
    border: 1px solid #031c40;
    padding: 0.5em;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.resource-item ul li a:hover {
    background-color: #031c40;
    color: #a6aeb0;
}

@media (max-width: 768px) {
    .resources-grid {
        grid-template-columns: 1fr;
    }
}
footer {
  background-color: #031c40;
  color: #a6aeb0;
  text-align: center;
  padding: 1em 0;
  position: relative;
  width: 100%;
}

footer a {
  color: #64b242;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}