body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #031c40;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #031c40;
}

input, button, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
}

.vote-btn {
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

#results {
    margin-top: 20px;
}
