/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  color: #031c40;
}

nav {
  background-color: #031c40;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 .8em;
}

nav ul li a {
  color: #a6aeb0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #64b242;
}

/* Header */
header {
  background-color: #64b242;
  color: white;
  text-align: center;
  padding: 3em 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* Main Content */
main {
  padding: 3em;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#searchInput {
  width: 70%;
  padding: 0.8em;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-container {
  display: flex;
  gap: 1em;
}

.filter-container label {
  font-weight: bold;
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.event-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.event-item img {
  max-width: 100%;
  border-radius: 8px;
}

.event-item h3 {
  margin-top: 1em;
  font-size: 1.25rem;
}

.event-item p {
  text-align: justify;
  margin-bottom: 1em;
}

.event-files {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.event-files a {
  color: #031c40;
  text-decoration: none;
  border: 1px solid #031c40;
  padding: 0.8em;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.event-files a:hover {
  background-color: #031c40;
  color: #a6aeb0;
}

/* Media Queries */
@media (max-width: 768px) {
  .events-grid {
    grid-template-columns: 1fr;
  }

  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  #searchInput {
    margin-bottom: 1em;
  }
}

/* Footer */
footer {
  background-color: #031c40;
  color: #a6aeb0;
  text-align: center;
  padding: 2em 0;
}

footer a {
  color: #64b242;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 1rem;
}

/* Container Styling */
#big-container {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}
