:root {
  --green: #65ba29;
  --dark: #1f374f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.light-mode {
  --bg: white;
  --text: #222;
  --nav-bg: white;
  --nav-text: var(--green);
  --logo-src: url('/images/logos/logo-green-ver.png');

  --hero-color: var(--green);
}

body.dark-mode {
  --bg: #1f374f;
  --text: white;
  --nav-bg: #111e2b;
  --nav-text: white;
  --logo-src: url('/images/logos/coders_white_cropped.png');

  --hero-color: #1f374f;
}

body.light-mode,
body.dark-mode {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}


#navbar {
  background-color: var(--nav-bg);
  color: var(--nav-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  width: 100%; 
  position: fixed;
  top: 0; 
  left: 0; 
  z-index: 1000;
  border-radius: 0; 
  transition: all 0.3s ease;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-left a {
  color: var(--nav-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
#logo-small {
  content: var(--logo-src);
  height: 0;
  transition: 0.3s ease;
  margin-right: 1rem;
}
#navbar.shrink #logo-small {
  height: 32px;
}
.nav-right button {
  background: none;
  border: none;
  color: var(--nav-text);
  font-size: 1.5rem;
  cursor: pointer;
}


#hero {
  background-color: var(--hero-color);
  color: white;
  padding: 6rem 2rem 8rem;
  text-align: center;
}

.logo-container {
  margin-bottom: 3rem;
}

#main-logo {
  max-width: 60%;
  height: auto;
  transition: 0.3s ease;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8;
}

.about h2 {
  margin-top: 2.5rem;
  text-align: left;
  font-size: 1.8rem;
}

.about a {
  color: white;
  text-decoration: underline;
}

.sponsor-logos {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.sponsor-logos img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.buttons {
  margin-top: 2rem;
  text-align: center;
}

.icon-btn {
  color: white;
  font-size: 2rem;
  margin: 0 1rem;
  transition: color 0.2s ease;
}

.icon-btn:hover {
  color: #e6ffe6;
}

.white-section {
  background: white;
  height: 600px;
}


.dark-section {
  background: var(--dark);
  height: 600px;
}


footer {
  background: var(--nav-bg);
  font-family: 'Segoe UI', sans-serif;
  color: var(--nav-text);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .sponsor-logos img {
    width: 120px;
  }
}
