body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #031c40;
}

nav {
    background-color: #031c40;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 .5em;
}

nav ul li a {
    color: #a6aeb0;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: #64b242;
    color: white;
    text-align: center;
    padding: 2em 0;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

/* Search Bar and Filters */
.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#searchInput {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-left: 10px;
    font-size: 14px;
}

.filter-container input {
    margin-right: 5px;
}

/* Resource Grid */
.resources-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.resource-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resource-item h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.resource-item p {
    margin-bottom: 15px;
}

.resource-item ul {
    list-style-type: none;
}

.resource-item ul li {
    margin-bottom: 5px;
}

.resource-item ul li a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 16px;
}

.resource-item ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    #searchInput {
        width: 100%;
        margin-bottom: 10px;
    }
}

footer {
    background-color: #031c40;
    color: #a6aeb0;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

footer a {
    color: #64b242;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
footer p {
  font-size: 20px;
}
